#produtos, #carrinho
{
    float: left;
    width: 350px;
    height: 700px;
}
#produtos
{
    background-color: red;
}
#carrinho
{
    background-color: yellow;
    
}

#campodeexclusao
{
    float: left;
    width: 350px;
    height: 350px;
    background-color: green;
    background-image: url('lixeira.png');
    background-size: 350px 350px;
}
#lixeira
{
    width: 200x;
    height: 200px;
}