p
{
    height: 1px;
}
form
{
    margin: 10px;
}
#registers{
    background-color:grey;
    float: none;
    height: 90px;
}
.register
{
    background-color: green;
    width: 50px;
    height: 50px;
    float: left;
    border-style: solid;
    border-color: black;
    margin: 2px;
}
ul
{
    list-style-type: none;
    border-style: solid;
    padding: 10px;
    border-color: black;
    margin: 10px;
}
#gerador
{
    float: left;
    width: 350px;
    height: 700px;
    background-color: red;
}
.contanier
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 6vh 88vh 6vh;
    grid-gap: 5px;
    grid-column-gap: 5px;
    float: left;
    width: 500px;
    height: 700px;
    background-color: yellow; 
    border-style: solid;
    padding: 5px;
    border-color: black;
    margin: 10px;
}
#executor
{
    background-color: pink;
    grid-column-start: 2;
    grid-column-end: 3;
}
#ll
{
    background-color: greenyellow;
    grid-column-start: 1;
    grid-column-end: 2;
}
#final
{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 3;
}
header
{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aqua;
    font-size: 30px;
}
#campode_exclusao
{
    float: left;
    width: 300px;
    height: 300px;
    background-color: green;
    background-image: url('lixeira.png');
    background-size: 300px 300px;
}
.instrução
{
    background-color: transparent;
    margin-left: 10px;
    width: 330px;
    height: 52px;
    padding: 3px;
}
#gerador > li.instrução
{
    height: 52px;
    padding: 10px;
}
input[list]
{
    background-color:transparent;
    color: red;
    width: 52px;
}
li.instrução
{
    position: relative;
}
li.instrução > input.imediato{
                            position: absolute;
                            top: 26%;
                            left: 74%;
                            color: black;
                            border-color: transparent;
                            width: 62px;
}
li.instrução > input.rd{
                        position: absolute;
                        top: 26%;
                        left: 26%;
                        color: black;
                        border-color: transparent;
                    }
li.instrução > input.rs{
                        position: absolute;
                        top: 26%;
                        left: 49%;
                        color: black;
                        border-color: transparent;
                    }
li.instrução > input.rt{
                        position: absolute;
                        top: 26%;
                        left: 74%;
                        color: black;
                        border-color: transparent;
                    }
